.app {
    font-family: "Courier New";
    color: whitesmoke;
    overflow: hidden;
    width: 206px;
    height: 380px;
}

::-webkit-scrollbar-button {
    opacity: 0.1;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 15px;

}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.app_information {

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 100%;
    width: 100%;

}

.app_information input {
    font-family: Roboto;
    width: 120px;
    height: 22px;
    font-size: 12px;
    font-weight: 550;
    padding: 2px;
    margin: 2px;
    outline: none;
    text-align: center;

}

.app_information button {
    width: 125px;
    height: 30px;
    padding: 3px;
    margin: 4px;
    outline: none;
}

.app_information button:hover {
    color: whitesmoke;
    background: darkgray;
    cursor: pointer;
}


.workers li {
    list-style: none;
    font-family: "Courier New";
    font-weight: 530;
    color: whitesmoke;

}

.add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.worker {
    flex-direction: column;
    display: flex;
    margin-top: 5px;
    border-top: 10px solid wheat;
    padding: 8px;
}

.worker ul {
    padding-left: 50px;
}

l {
    color: khaki;
}

.title_table {
    color: wheat;
    margin: 4px;
    padding: 4px;
}

.idIdentify {
    margin-left: 60px;
    color: yellow;
    font-size: 18px;
}